@using System.Security.Claims
@using MSS_NewsWeb.Helpers
@model PostListDto
@{
    Layout = "_Layout";
    int userId = 0;
    if (User.Identity.IsAuthenticated)
    {
        userId = Int32.Parse(User.Identities.FirstOrDefault().Claims.Where(x => x.Type == ClaimTypes.NameIdentifier).FirstOrDefault().Value);
    }

}

<!-- block news -->
<div class="bg-gray-50 py-12 mt-12">
    <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2">
        <div class="flex flex-row flex-wrap">
            <!-- Left -->
            <div class="flex-shrink max-w-full w-full lg:w-3/5  overflow-hidden">
                <div class="w-full py-3 mb-3">
                    <h2 class="text-gray-800 text-3xl font-bold">
                        <span class="inline-block h-5 border-l-3 border-red-600 mr-2"></span> <boldertaghelper bold-data="@Model.Title"></boldertaghelper>
                    </h2>
                </div>
                <div class="flex flex-row flex-wrap -mx-3">
                    <div class="max-w-full w-full px-4">
                        <!-- Post content -->
                        @if (Model != null)
                        {
                            <div class="leading-relaxed pb-4">

                                <h2 class="w-full float-left text-sm leading-normal mb-2 font-semibold text-gray-800">Kategori: @Model.Category.Defination </h2>
                                <h2 class="w-full float-left text-sm leading-normal mb-2 font-semibold text-gray-800">Tarih: @Model.CreatedTime.ToString()</h2>

                                <Definitaion1 class="mb-5" def-data="@Model.Defination1"></Definitaion1>
                                <figure class="text-center lg:-mr-4 ml-7 mb-7">
                                    <img class="max-w-full h-auto mx-auto w-96 min-w-full" src="~/src/Files/@Model.MediaPath" alt="@Model.Title">
                                </figure>
                                <p class="mb-5">@Model.Defination2</p>
                                <h2 class="w-full float-right text-sm leading-normal mb-2 font-semibold text-gray-800">Yazar: @Model.AppUser.FirstName</h2>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <!-- right -->
            <div class="flex-shrink max-w-full w-full lg:w-2/5 lg:pl-8 lg:pt-14 lg:pb-8 order-first lg:order-last">

                @await Component.InvokeAsync("GetLastFivePost")

             
            </div>

        </div>
        <div id="yorumlar">
            @if (Model != null)
            {
                <div class="mt-8">

                    @if ((User.IsInRole("Admin") || User.IsInRole("User")) && userId != 0)
                    {
                        @await Component.InvokeAsync("AddComment",new Temp(){
                           UserId = userId,
                           PostId= Model.Id
                })
                    }
                    else
                    {
                        <p>Yorum yapmak için <a asp-action="Login" asp-controller="Account" class="text-blue-500 underline"> giriş</a> yapınız.</p>
                    }
                    @await Component.InvokeAsync("GetCommands",Model.Id)
                </div>
            }

        </div>
    </div>
</div>

